<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">QUIZZINC</a>
    <a href="/dashboard" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Dashboard</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/api/logout">Logout</a></li>

</ul>

<header class="dashboard-header center-align">
  <h1>
    Create A Quiz
  </h1>
</header>


<form class="col s12" id="quiz-info">
  <div class="row">
    <div class="input-field col s12">
      <input id="quiz_title" type="text" class="validate" placeholder="Quiz Title">
      {{!-- <label for="quiz_title">Quiz Title</label> --}}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="quiz_description" class="materialize-textarea" placeholder="Quiz Description"></textarea>
      {{!-- <label for="quiz_description">Quiz Description</label> --}}
    </div>
  </div>
  <div class="row center-align" id="create-quiz">
    <div class="input-field col s12"><input type="submit" class="waves-effect waves-light btn" value="Create Quiz"></div>
  </div>
</form>

<div class="row">
  <ol id="questions-view">
  </ol>
</div>

<p class="center-align" id="update-quiz" hidden>
  <a class="btn-floating btn-large waves-effect waves-light red" id="add-question"><i class="material-icons">+</i></a>
  <br>Add a quiz question<br>
</p>

<form class="col s12" id="question-info" hidden>
  <div class="row">
    <div class="input-field col s12">
      <input id="quiz_question" type="text" class="validate" placeholder="Question">
      {{!-- <label for="quiz_question">Question</label> --}}
    </div>
  </div>

  <div class="all-options">
    <div class="row option-info">
      <div class="input-field col s8">
        <input type="text" class="validate quiz_answer" placeholder="Choice">
        {{!-- <label for="quiz_answer">Choice</label> --}}
      </div>
      <div class="input-field col s4">
        <label>
          <input type="radio" class="filled-in answer-isCorrect" name="is-correct" checked="checked">
          <span>Check box if answer is correct</span>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="center-align">
      <a class="btn-floating waves-effect waves-light btn red" id="less-option"><i class="material-icons">-</i></a>
      <a class="btn-floating waves-effect waves-light btn" id="more-option"><i class="material-icons">+</i></a>
    </p>
  </div>

  <div class="row center-align">
    <div class="input-field col s12"><input type="submit" id="submit-question" class="waves-effect waves-light btn" value="Add Question"></div>
  </div>
</form>

<script type="text/javascript" src="/js/create-quiz.js"></script>
