<nav>
  <ul class="nav nav-pills float-right">
    <li class="nav-item">
      <a class="nav-link" href="/api/logout">Logout</a>
    </li>
  </ul>
</nav>

<header class="dashboard-header text-center">
  <h1>
    QUIZZINC Dashboard
  </h1>
</header>
<main class="container">
  <div class="row">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Create Quiz</button>
  </div>
  <br><br><br>
  <div class="row">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Take Quiz</button>
  </div>
</main>
{{!-- members.js in public folder --}}

{{!-- <script type="text/javascript" src="../../public/js/members.js"></script> --}}


<script type="text/javascript" src="/js/dashboard.js"></script>