<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">  QUIZZINC</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<header class="dashboard-header text-center">
  <h1>
    QUIZZINC Dashboard
  </h1>
</header>
<main class="container">
  <div class="row">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Create Quiz</button>
  </div>
  <br><br><br>
  <div class="row">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Take Quiz</button>
  </div>
</main>
{{!-- members.js in public folder --}}

{{!-- <script type="text/javascript" src="../../public/js/members.js"></script> --}}


<script type="text/javascript" src="/js/dashboard.js"></script>