<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">QUIZZINC</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/api/logout">Logout</a></li>
</ul>

<header class="dashboard-header text-center">
  <h1 class="center-align">
    QUIZZINC Dashboard
  </h1>
</header>
<main class="container">

  <div class="row">
    <a href="/create-quiz"> <button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Create Quiz</button></a>
  </div>
  <br><br><br>
  <div class="row">
    <a href="/take-a-quiz"><button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Take Quiz</button></a>
  </div>
</main>