<nav class="nav-wrapper nav1 nav-properties">
  <a class="brand-logo left">QuizzInc</a>
    <ul class="right">
        <li><a href="/dashboard" class="dashboard1">Dashboard</a></li>
        <li><a href="/api/logout" class="log1">Logout</a></li>
    </ul>
</nav>

<main>
  <header class="center-align">
    <h1>Quiz Overview</h1>
  </header>

  <section class="quiz-general-information">
    <div class="container">
      <div class="row">
        <h5 class="quiz-title center-align">Quiz Title: <span style="font-size: 75%;">###</span></h5>
      </div>
      <div class="row">
        <h5 class="quiz-description center-align">Quiz Description: <span style="font-size: 75%;">###</span></h5>
      </div>
      {{!-- <div class="row">
        <h5 class="quiz-catergories center-align">Quiz Categories: <span style="font-size: 75%;">###</span></h5>
      </div> --}}
      <div class="row">
        <h5 class="quiz-question-number center-align">Number of Questions: <span style="font-size: 75%;">###</span></h5>
      </div> 
    </div> 
  </section>

  <section class="start-quiz-button">
    <div class="row">
      <p class="center-align">
        <a href="/take-a-quiz/start-quiz" id="start-quiz" class="overview-start waves-effect waves-light btn">Start Quiz</a>
        <br><br>
        <a href="/take-a-quiz" class="btn btn1 waves-effect waves-light" id="searchQuizId" type="submit" name="action">Go Back
          <i class="material-icons left">chevron_left</i>
        </a>
      </p>
      
    </div> 
  </section>
</main>
{{!-- <script type="text/javascript" src="/js/take-quiz.js"></script> --}}
<script type="text/javascript" src="/js/quiz-overview.js"></script>
