<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">QUIZZINC</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Dashboard</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/api/logout">Logout</a></li>
  </ul>
</nav>

<main>
  <header class="center-align">
    <h1>Quiz Overview</h1>
  </header>

  <section class="quiz-general-information">
    <div class="container">
      <div class="row">
        <h5 class="quiz-title center-align">Quiz Title: <span style="font-size: 75%;">###</span></h5>
      </div>
      <div class="row">
        <h5 class="quiz-description center-align">Quiz Description: <span style="font-size: 75%;">###</span></h5>
      </div>
      <div class="row">
        <h5 class="quiz-catergories center-align">Quiz Categories: <span style="font-size: 75%;">###</span></h5>
      </div>
      <div class="row">
        <h5 class="quiz-question-number center-align">Number of Questions: <span style="font-size: 75%;">###</span></h5>
      </div> 
    </div> 
  </section>

  <section class="start-quiz-button">
    <div class="row">
      <p class="center-align">
        <a href="/take-a-quiz/start-quiz" id="start-quiz" class="overview-start waves-effect waves-light btn">Start Quiz</a>
      </p>
    </div> 
  </section>
</main>
<script type="text/javascript" src="/js/take-quiz.js"></script>