<nav class="nav-wrapper nav1 nav-properties">
  <a class="brand-logo left">QuizzInc</a>
  <ul class="right">
    <li><a href="/dashboard" class="dashboard1">Dashboard</a></li>
    <li><a href="/api/logout" class="log1">Logout</a></li>
  </ul>
</nav>

<main>

  <header class="center-align">
    <div class="starttitle">
      <h1 style="margin-bottom: 30px;"> Start A Quiz</h1>
    </div>
  </header>
  <section>
    <div class="quiz-container">
      <div class="quiz-question center-align">
        <h3 class="hiddentitle">

        </h3>
      </div>
      <div class="quiz-choices center-align">

      </div>
    </div>
  </section>
  <div class="quizEndContainer center-align">
    <h2> Quiz Complete </h2>
    <p>
      Quiz score: <span id="quiz-score"> ((Questions.length / correctCount) * 100)</span>
    </p>
    <p>
      Total Questions: <span id="quiz-length"> Questions.length </span>
    </p>
    <p>
      Correct Answers: <span id="quiz-correct-score"> correctCount </span>
    </p>
    <p>
      Incorrect Answers: <span id="quiz-incorrect-score"> incorrectCount </span>
    </p>
  </div>
</main>
<script type="text/javascript" src="/js/take-quiz.js"></script>