<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">QUIZZINC</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/api/logout">Logout</a></li>
</ul>

<header class="dashboard-header text-center">
  <h1 class="center-align">
    Search A Quiz
  </h1>
</header>
<main class="container">

  <div class="row">
    <a href="#"> <button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Search By Quiz ID</button></a>
  </div>
  <br><br><br>
  <div class="row">
    <a href="#"><button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Search By Author ID</button></a>
  </div>
  <br><br><br>
  <div class="row">
    <a href="#"><button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Search By Quiz Type</button></a>
  </div>
</main>

{{!-- <div class="row">
    <form class="col s12">
        <div class="row">
            <label>Search Quiz By</label>
            <select>
                <option value="" disabled selected>Select Quiz By</option>
                <option value="1">ID</option>
                <option value="2">Author</option>
                <option value="3">Type</option>
            </select>
        </div>
    </form>
</div> --}}