<nav class="nav-wrapper nav1 nav-properties">
  <a class="brand-logo left">QuizzInc</a>
    <ul class="right">
        <li><a href="/dashboard" class="dashboard1">Dashboard</a></li>
        <li><a href="/api/logout" class="log1">Logout</a></li>
    </ul>
</nav>

<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
    <div class="valign" style="width:100%;">
        <div class="container center-align">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card cardborder">
                        <div class="card-content">
                            <div class="center-align" style="margin-bottom: 30px;">
                                <span class="simpletitle">Search Quiz By</span>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <a href="/take-a-quiz/search-quiz-id"> <button type="button"
                                                style="margin: 0 auto" class="btn btn1"> Quiz
                                                ID</button></a>
                                    </div>
                                    <div class="row">
                                        <a href="/take-a-quiz/search-user-id"><button type="button"
                                                style="margin: 0 auto" class="btn btn1"> My Quizzes
                                            </button></a>
                                    </div>
                                    <div class="row">
                                        <a href="#"><button type="button" style="margin: 0 auto" class="btn btn1">
                                                Quiz Type</button></a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- <style>
    .simpletitle {

        font-family: "Amino Medium";
        color: #26a69a;
        font-size: 34px;
        margin-bottom: 200px;

    }

    .btn1 {
        background-color: rgb(252, 129, 113);
        border-radius: 58px;
        font-family: "Proxima Nova Semibold";
        font-size: 18px;
        color: rgb(255, 255, 255);
    }

    .cardborder {
        border-radius: 58px;

    }

    .nav1 {
        background-color: rgb(252, 129, 113);
        font-family: "Proxima Nova Semibold";
    }

    .log1 {
        font-family: "Proxima Nova Semibold";
        font-size: 18px;
    }

    .dashboard1 {
        font-family: "Proxima Nova Semibold";
        font-size: 18px;
    }
</style> --}}



{{!-- 
<header class="dashboard-header text-center">
    <h1 class="center-align">
        Search A Quiz
    </h1>
</header>
<main class="container">


    <div class="row">
        <a href="/take-a-quiz/search-quiz-id"> <button type="button" style="margin: 0 auto"
                class="btn btn-secondary btn-lg btn-block">Search By Quiz ID</button></a>
    </div>
    <br><br><br>
    <div class="row">
        <a href="/take-a-quiz/search-user-id"><button type="button" style="margin: 0 auto"
                class="btn btn-secondary btn-lg btn-block">Search By User ID</button></a>
    </div>
    <br><br><br>
    <div class="row">
        <a href="#"><button type="button" style="margin: 0 auto" class="btn btn-secondary btn-lg btn-block">Search By
                Quiz Type</button></a>
    </div>

</main> --}}

{{!-- <div class="row">
    <form class="col s12">
        <div class="row">
            <label>Search Quiz By</label>
            <select>
                <option value="" disabled selected>Select Quiz By</option>
                <option value="1">ID</option>
                <option value="2">Author</option>
                <option value="3">Type</option>
            </select>
        </div>
    </form>
</div> --}}