<nav class="nav-wrapper nav1 nav-properties">
  <a class="brand-logo left">QuizzInc</a>
    <ul class="right">
        <li><a href="/dashboard" class="dashboard1">Dashboard</a></li>
        <li><a href="/api/logout" class="log1">Logout</a></li>
    </ul>
</nav>

<header class="dashboard-header text-center">
  <h1 class="center-align">
    Search By Type
  </h1>
</header>

<main>
  <section class="container">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s6">
       <h5 class="center-align">HTML</h5>
      </div>
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Check if desired</span>
          </label>
        </p>
        <div class="col s1"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s1"></div>
      <div class="col s6">
       <h5 class="center-align">CSS</h5>
      </div>
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Check if desired</span>
          </label>
        </p>
        <div class="col s1"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col s1"></div>
      <div class="col s6">
       <h5 class="center-align">JavaScript</h5>
      </div>
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Check if desired</span>
          </label>
        </p>
        <div class="col s1"></div>
      </div>
    </div>
    <div class="row">
      <div class="center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </section>
  <br><br><br>
  <div class="type-search-results center-align">
    <p>This is where results will generate once button is clicked</p>
  </div>
</main>