.simpletitle {
  font-family: "Amino Medium";
  color: #26a69a;
  font-size: 34px;
  margin-bottom: 200px;
}
.hiddentitle {
  font-family: "Amino Medium";
  color: #8985df;
  font-size: 34px;
}
.hiddensubtitle {
  font-family: "Amino Medium";
  color: #26a69a;
  font-size: 24px;
  margin-top:5px ;
}
.starttitle {
  font-family: "Amino Medium";
  color: #26a69a;
  font-size: 64px;
}

.btn1 {
  background-color: rgb(252, 129, 113);
  border-radius: 58px;
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.btn2 {
  background-color: rgb(90, 184, 151);
  border-radius: 58px;
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  color: rgb(247, 239, 239);
}

.cardborder {
  border-radius: 58px;
}

.nav1 {
  background-color: rgb(252, 129, 113) !important;
  font-family: "Proxima Nova Semibold";
}

.brand-logo {
  margin-left: 20px;
}

.log1 {
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  margin-right: 20px;
}

.orlogin {
  color: #26a69a;
  padding-left: 16px;
  margin-top: 16px;
}
.collectionitem1 {
  font-family: "Proxima Nova Semibold";
  border-radius: 58px;

}

.dashboard1 {
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
}


/* Mobile Response */
@media screen and (max-width: 480px) {
  
  .signup-container {
    width: 100%;
  }

  .login-container {
    width: 100%;
  }

  .simpletitle {
    font-size: large;
  }

  .btn1 {
    width: initial;
  }

  .orlogin {
    width: initial;
  }

  .create-button {
    width: 100%;
  }
}